VITE_BASE_URL=http://localhost:3000

DATABASE_URL="postgresql://postgres:password@localhost:5432/tanstarter"

# pnpm run auth:secret
BETTER_AUTH_SECRET=

# Cloudinary (required for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=outfitter_uploads
